@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

/* =================QUOTATION STYLING================== */

.quoteContainer,
.quoteClose {
  height: 150px;
  width: 70vw;
  padding: 10px;
  box-sizing: border-box;
  border-top: 3px solid #212121;
  border-left: 3px solid #212121;
  border-bottom: 1px solid #212121;
  border-right: 1px solid #212121;
  border-radius: 7px;
  box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.78);
  position: relative;
  bottom: -200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: unset;
  opacity: 0.8;
  z-index: 99;
}
.quoteContainer {
  animation: quoteEntry 2s cubic-bezier(.29,.9,.53,1) 1;
}
.quoteCloser {
  border: 1px solid #212121;
  border-radius: 5px;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  cursor: pointer;
  position: relative;
  left: 99%;
  top: -9px;
}
.quoteCloser:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.quoteCloser p {
  height: inherit;
  width: inherit; 
  text-align: center; 
  margin: 0;
  position: inherit;
  line-height: 15px;
}

@keyframes quoteEntry {
  0% {
    opacity: 0;
    transform: translateY(350px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);

  }
}
.quoteText {
  height: 130px;
  font-size: 36px;
  font-family: 'Tangerine';
  height: 250px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.quoteText p {
  margin: 0;
}
.quoteAuthor {
  font-size: 16px;
  font-weight: bold;
  height: 20px;
  display: flex;
  justify-content: flex-end;
}
.quoteLink:active,
.quoteLink:visited,
.quoteLink:link {
  text-decoration: none;
}
.quoteClose {
  animation: close 1.2s ease 1;
  animation-fill-mode: forwards;
  bottom: 350;
}
@keyframes close {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(1250px);
  }
}

/* ===================ABOUT ME PAGE==================== */

.aboutmePage {
  height: 100vh;
  width: 97.5vw;
  /* background-color: red; */
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 0;
}

h1 {
  text-align: center;
  z-index: 99;
}

.aboutmeFrame {
  margin: 50px auto;
  border: 25px solid #222;
  height: 475px;
  width: 350px;
  box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.3);
}
.aboutmeBorder {
  background: white;
  height: 100%;
  width: 100%;
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, 0.4);
}
.aboutmePhoto {
  position: absolute;
  height: 350px;
  width: 250px;
  margin-left: 50px;
  margin-top: 50px;
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px inset #c9c9c9;
  background-image: url(./images/Profilepic.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.aboutmePictureScale {
  transform: scale(0.6);
  position: absolute;
  left: -40px;
  top: -100px;
  z-index: 99;
}
/* =====================PROJECTS PAGE=================== */

.projectsPage {
  height: 100vh;
  width: 97.5vw;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 0;
  display: flex;
  flex-direction: column;
}

.projectText {
  width: 80vw;
  height: 150px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 10px auto;
  border-start-start-radius: -50%;
  border-start-end-radius: -50%;
  background-color: #212121;
}
.projectText:before {
  content: '';
  position: absolute;
  top: -54px;
  left: 139px;
  height: 12%;
  width: 80vw;
  margin: 0 auto;
  border-bottom: 1px solid black;
  border-end-end-radius: 30%;
  border-end-start-radius: 30%;
}
.projectText:after {
  content: '';
  position: absolute;
  top: 133px;
  left: 139px;
  height: 12%;
  width: 80vw;
  border-top: 1px solid black;
  border-start-start-radius: 30%;
  border-start-end-radius: 30%;
  background: solid;
}

.modalContainer {
  height: 200px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  top: 20px;
  left: 5vw;
  z-index: 99;
}
.projectThumbnails {
  height: 180px;
  width: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  margin-bottom: 50px;
  z-index: 99;
}
.projectThumbnails:hover {
  transform: scale(1.01);
  cursor: pointer;
  opacity: 0.7;
}
.drumkitThumbnail {
  background-image: url(./images/drumkitProject.png);
}
.diceGameThumbnail {
  background-image: url(./images/dicegameProject.png);
}
.genericThumbnail {
  background-color: gray;
}
.modalHidden {
  width: 18%;
  opacity: 0;
}
.modalShown {
  width: 18%;
  opacity: 1;
}
.popupContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70vw;
  height: 300px;
  position: absolute;
  top: 200px;
  left: 100px;
}
.modal {
  height: 300px;
  width: 18%;
  background-color: white;
  z-index: 99;
}
.modal button {
  height: 50px;
  width: 100px;
}